@model Ground_Handlng.DataObjects.Models.Operational.SliderViewItem

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ExpiresDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ExpiresDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
